<a href="/cadastrar"><button type="button" class="btn btn-success">Cadastrar Usuário</button></a>
<br>
<br>
<table class="table" style="box-sizing: inherit;">
    <thead style="border-bottom-width: 1px; border-color: #000;">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Repeated Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuario}}
        <tr>
            <th>{{firstname}}</th>
            <th>{{lastname}}</th>
            <td>{{email}}</td>
            <td>{{repemail}}</td>
            <td style="text-align: right; border-bottom-width: 1px #000;">
                <a href="/editar/{{idusuario}}/{{firstname}}/{{lastname}}/{{email}}/{{repemail}}"><button type="submit" class="btn btn-warning">Editar</button></a>
                <a href="/remover/{{idusuario}}"><button type="submit" class="btn btn-danger">Apagar</button></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>